<div class="center-container">
<div class="card customStyles">
  <h1 class="card-title text-center" style="color: blueviolet;">
    {{title}}
  </h1>
  <br>
  Input 1: <input  type="number" [(ngModel)]="number1">

  Input 2: <input type="number" [(ngModel)]="number2">
  <br>
  <button class="btn btn-success" (click)="add()">Add</button>
  <br>
  <button class="btn btn-primary" (click)="sub()">Subtract</button>
  <br>
  <button class="btn btn-danger" (click)="mul()">Multiply</button>
  <br>
  <button class="btn btn-info" (click)="div()">Divide</button>
  <br>

  <h2 >Result:{{result}}</h2>
</div>
</div>